@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}

body {
  min-height: 100vh;
  min-width: 100vh;
  background-color: #0e080e;
  background-image: radial-gradient(rgba(236, 255, 211, 0.02) 2.5px, transparent 4px);
  background-size: 13px 13px;
  background-position: 5.5vh 5.5vh;
}

a {
  text-decoration: none;
  color: white;
}

/* Navigation bar */
nav {
  width: 100%;
  padding-left: 5vw;
  padding-right: 2vw;
  align-items: center;
  background-color: black;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #a5639c6e;
  min-height: 60px;
  height: 50px;
  max-height: 70px;
}

.nav-left {
  display: flex;
  justify-content: center;
  height: 100%;
  max-width: fit-content;
  gap: 5vw;
  min-height: 3rem;
  color: white;
}

.nav-left h2 {
  display: flex;
  align-items: center;
  font-weight: 400;
  cursor:default;
}

.nav-left a {
  display: flex;
  align-items: center;
  position: relative;
  
}

.nav-left a:hover::after {
  display: inline-block;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  border: 1px solid #d017b8;
  background-color: #d017b8;
  height: 2px;
  width: 40px;

  border-radius: 999px;
  
}

.nav-right {
  width: 10vw;
  min-width: 120px;
  max-width: 150px;
  max-height: 50px;
  height: 5vw;

  font-weight: 500;
  background-color: #380857;
  color: white;
  border: none;
  border-radius: 10vw;
  cursor: pointer;
  transition: all 0.25s
}


.nav-right:hover {
  color: #380857;
  background-color: white;
}

/* Main content alignment */
main{
  margin-top: 55px;
  color: white;
  min-height: 100vh;

}


/* Home section */

article{
  height: fit-content;
  padding: 5% 10% 0;
  display: flex;
  justify-content: space-between;
 
}

article h3{
  font-weight: 300;
  font-size: 30px;
  color: rgb(201, 201, 201)

}


article h1{
  font-size: 80px;
  font-weight: 500;
  line-height: 80px;
}

.details{
  margin-top: 50px;
  border-left: 1px solid rgb(201, 201, 201);
  padding-left: 15px;
  font-weight: 300;
  color: rgb(201, 201, 201);
  
}

.picture{
  display: flex;
  justify-content: center;
  flex: 1;
  
}

.profile{
  
}