@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}

body {
  min-height: 100vh;
  min-width: 100vh;
  background-color: #0e080e;
  background-image: radial-gradient(rgba(236, 255, 211, 0.02) 2.5px, transparent 4px);
  background-size: 13px 13px;
  background-position: 5.5vh 5.5vh;
}

a {
  text-decoration: none;
  color: white;
}

/* Navigation bar */
nav {
  width: 100%;
  padding-left: 5vw;
  padding-right: 2vw;
  align-items: center;
  background-color: black;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #a5639c6e;
  min-height: 60px;
  height: 50px;
  max-height: 70px;
  z-index: 100;
}

.nav-left {
  display: flex;
  justify-content: center;
  height: 100%;
  max-width: fit-content;
  gap: 5vw;
  min-height: 3rem;
  color: white;
}

.nav-left h2 {
  display: flex;
  align-items: center;
  font-weight: 400;
  cursor:default;
}

.nav-left a {
  display: flex;
  align-items: center;
  position: relative;
  
}


.nav-left a:hover::after {
  display: inline-block;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  border: 1px solid #d017b8;
  background-color: #d017b8;
  height: 2px;
  width: 40px;

  border-radius: 999px;
  
}

.nav-right {
  width: 10vw;
  min-width: 120px;
  max-width: 150px;
  max-height: 50px;
  height: 5vw;

  font-weight: 500;
  background-color: #380857;
  color: white;
  border: none;
  border-radius: 10vw;
  cursor: pointer;
  transition: all 0.25s
}


.nav-right:hover {
  color: #380857;
  background-color: white;
}

/* Main content alignment */
main{
  margin-top: 60px;
  color: white;
  min-height: 100vh;

}


/* Home section */

article{
  height: 500px;
  display: flex;
  justify-content: space-between;
  padding: 0 150px 0 200px;
  background-image: radial-gradient(
    circle at right top, 
    rgba(0, 4, 255, 0.699) ,
    rgba(225, 0, 255, 0.39) 20%,
    rgba(240, 130, 255, 0.281) 30%, 
    transparent 40%);
  overflow-x: hidden;
  overflow-y: hidden;
}

.striped-bar{
  position: absolute;
  left: -10px;
  top: 200px;
}

.bar-line{
  background-color: #a879d8;
  height: 5px;
  transform: rotate(45deg);
  width: 60px;
  

}

.bar-line:not(:first-child){
  margin: 50px 0;

}

article h3{
  font-weight: 300;
  font-size: 30px;
  color: rgb(201, 201, 201);
  padding-top: 100px;

}


article h1{
  font-size: 80px;
  font-weight: 500;
  line-height: 80px;
}

.article-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.details{
  border-left: 1px solid rgb(201, 201, 201);
  padding-left: 15px;
  font-weight: 300;
  color: rgb(201, 201, 201);
}

.article-right{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;
  min-width: 500px;
  
}

.profile-pic{
  height: 600px;
  position: absolute;
  bottom: 0;
  object-position: -20px 0;
  z-index: 2;
  
}

.circle{
  height: 420px;
  width: 420px;
  border-radius: 999px;
  background-color: #380857;
  position: absolute;
  z-index: 1;
  bottom: -100px;
  background-image: linear-gradient(to right,#3077d8, #f83ee8);
  outline: 1px solid #e693dd;
  outline-offset: 20px;
  
}

/* About me */
